<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>backoffice</title>
	<link rel="stylesheet" href="bo.css" type="text/css">
</head>



<body></body>



<script language="JavaScript">
function BO() {
// Open the xml file containing commands
var rq = new XMLHttpRequest();
rq.open("GET","general.xml", false);
rq.setRequestHeader("Content-Type", "text/xml");
rq.send();
var xml = rq.responseXML; // Get raw datas
var commandList = xml.childNodes[0]; // Access each tasks
var table = document.createElement("table");
table.setAttribute("id", "commandsList");
var DEMO = ["Request", "Response"];
var tr = document.createElement("tr");
for (var i = 0; i < DEMO.length; i++) {
	var tdDemo = document.createElement("td");
	tdDemo.innerHTML = DEMO[i];
	tr.appendChild(tdDemo);
}
table.appendChild(tr);
for (var i = 0; i < commandList.children.length; i++)
{
	var commands = commandList.children[i]; // Access each of the commands values
	var request = commands.getElementsByTagName("request");
	var response = commands.getElementsByTagName("response");
	// Fetch data in the table
	var input = document.createElement("input");
	input.setAttribute("type", "text");
	var tr = document.createElement("tr");
	tr.setAttribute("id", i+"command");
	var td0 = document.createElement("td");
	var td1 = document.createElement("td");
	var requestEntry = input.cloneNode();
	requestEntry.setAttribute("name", "request["+i+"]");
	requestEntry.setAttribute("value", request[0].textContent.toString());
	var responseEntry = input.cloneNode();
	responseEntry.setAttribute("name", "response["+i+"]");
	responseEntry.setAttribute("value", response[0].textContent.toString());
	td0.appendChild(requestEntry);
	td1.appendChild(responseEntry);
	tr.appendChild(td0);
	tr.appendChild(td1);
	table.appendChild(tr);
}
var titreDoc = document.createElement("p");
var text = document.createTextNode("List of commands");
titreDoc.appendChild(text);
document.getElementsByTagName("body")[0].appendChild(titreDoc);
document.getElementsByTagName("body")[0].appendChild(table);
// Adding buttons
var table = document.getElementById("commandsList");
var btnSave = document.createElement("input");
btnSave.setAttribute("type", "button");
btnSave.setAttribute("value", "save");
btnSave.setAttribute("onclick", "save()");
var btnAjout = document.createElement("input");
btnAjout.setAttribute("type", "button");
btnAjout.setAttribute("value", "+");
btnAjout.addEventListener("click", add);
table.appendChild(btnAjout);
table.insertBefore(btnSave, table.firstChild);
//console.log(table.children.length-2);
for (var i = 0; i < table.children.length-3; i++) {
	var btnDel = document.createElement("input");
	btnDel.setAttribute("type", "button");
	btnDel.setAttribute("value", "-");
	btnDel.setAttribute("onclick", "del("+i+")");
	//btnDel.addEventListener("click", function() {del(i, fichier.toString());});
	document.getElementById(i+"command").appendChild(btnDel);
}
}
function add() {
	var table = document.getElementById("commandsList");
	var tr = document.createElement("tr");
	tr.setAttribute("id", (table.children.length-3)+"command");
	var input = document.createElement("input");
	var inputDate = document.createElement("input");
	input.setAttribute("type", "text");
	inputDate.setAttribute("type", "date");
	var btn = document.createElement("input")
	btn.setAttribute("type", "button");
	btn.setAttribute("value", "-");
	btn.setAttribute("onclick", "del("+(table.children.length-3)+")");
	var td0 = document.createElement("td");
	var td1 = document.createElement("td");
	var request = input.cloneNode();
	request.setAttribute("name", "request["+(table.children.length-3)+"]");
	var response = input.cloneNode();
	response.setAttribute("name", "response["+(table.children.length-3)+"]");
	response.setAttribute("value", "");
	td0.appendChild(request);
	td1.appendChild(response);
	tr.appendChild(td0);
	tr.appendChild(td1);
	tr.appendChild(btn);
	table.insertBefore(tr, table.lastChild);
	//console.log("ligne ajoutée");
}
function del(a) {
	var DelTr = document.getElementById(a+"command");
	document.getElementById("commandsList").removeChild(DelTr);
	//console.log("ligne effacée");
}
function save() {
	console.log("saving...");
}

BO();
</script>

</html>
